%div{:prefix => "v: http://rdf.data-vocabulary.org/#",
     :typeof => 'v:CreativeWork'}
  %div.hidden
    %span{:property => 'v:name'}= concept.title
  %ul.unstyled
    - email_uris(doc).each do |uri|
      %li
        %i.icon-envelope
        %a{:href => uri.html_safe}
          =uri.gsub(/^mailto:/,'').html_safe
    = render "record/links", :doc => doc
    - physical_addresses(doc).each do |address|
      - if address.key?('telephoneNumber')
        %li
          - address['telephoneNumber'].each do |phone|
            <i class="icon-phone"></i>
            %span{:property => 'v:telephone'}= phone
      - if address.key?('faxNumber')
        %li
          - address['faxNumber'].each do |fax|
            Fax:
            %span{:property => 'v:faxNumber'}= fax

  %p.description{:property => 'v:description'}
    =description(doc).gsub(/\n/,"<br/>\n").html_safe

  = render "record/related_objects", :doc => doc, :relationship => 'supports'
  = render "record/related_objects", :doc => doc, :title => 'See Also',
      :relationship => 'hasAssociationWith'
  = render "record/related_objects", :doc => doc, :relationship => 'isOutputOf'
  = render "record/related_objects", :doc => doc, :title => "Collectors",
      :relationship => 'hasCollector'
  = render "record/related_objects", :doc => doc, :title => "Managers",
      :relationship => 'isManagedBy'