%div{:prefix => "v: http://rdf.data-vocabulary.org/#",
     :typeof => 'v:Organization'}
  %div.hidden
    %span{:property => 'v:name'}= concept.title

  - physical_addrs = physical_addresses(doc)
  %ul.unstyled
    - physical_addrs.each do |address|
      - if address.key?('addressLine')
        %li
          %address
            - address['addressLine'].each do |line|
              %span.block= line
    - related_objects(doc, 'isPartOf').each do |org|
      %li{:property => 'v:affiliation', :typeof => 'v:Organization'}
        %i.icon-cog{:title => 'is part of'}
        %a{:href => org.href}
          %span{:property => 'v:name'}= org.title
    - email_uris(doc).each do |uri|
      %li
        %i.icon-envelope{:title => 'Email'}
        %a{:href => uri.html_safe}
          =uri.gsub(/^mailto:/,'').html_safe
    = render "record/links", :doc => doc
    - physical_addrs.each do |address|
      - if address.key?('telephoneNumber')
        %li
          - address['telephoneNumber'].each do |phone|
            %i.icon-phone{:title => 'Telephone'}
            %span{:property => 'v:telephone'}= phone
      - if address.key?('faxNumber')
        %li
          - address['faxNumber'].each do |fax|
            = image_tag('fax_machine.svg', :title=> 'Fax', :class => 'icon')
            %span{:property => 'v:faxNumber'}= fax

  %p.description{:property => 'v:description'}
    =description(doc).gsub(/\n/,"<br/>\n").html_safe

  = render "record/related_objects", :doc => doc, :title => "Collected",
      :relationship => 'isCollectorOf'
  = render "record/related_objects", :doc => doc, :title => "Manages",
      :relationship => 'isManagerOf'