%div{:prefix => "v: http://rdf.data-vocabulary.org/#",
     :typeof => 'v:Organization'}
  %div.hidden
    %span{:property => 'v:name'}= concept.title

  - physical_addrs = physical_addresses(doc)
  %ul.unstyled
    - physical_addrs.each do |address|
      - if address.key?('addressLine')
        %li
          %address
            - address['addressLine'].each do |line|
              %span{:style => 'display: block'}= line
    - email_uris(doc).each do |uri|
      %li
        %i.icon-envelope
        %a{:href => uri.html_safe}
          =uri.gsub(/^mailto:/,'').html_safe
    - urls(doc).each do |url|
      %li
        %i.icon-globe
        %a{:href => url, :property => "v:url"}
          =url
    - physical_addrs.each do |address|
      - if address.key?('telephoneNumber')
        %li
          - address['telephoneNumber'].each do |phone|
            <i class="icon-phone"></i>
            %span{:property => 'v:telephone'}= phone
      - if address.key?('faxNumber')
        %li
          - address['faxNumber'].each do |fax|
            Fax:
            %span{:property => 'v:faxNumber'}= fax

  %p.description{:property => 'v:description'}
    =description(doc).gsub(/\n/,"<br/>\n").html_safe

  = render "record/related_objects", :doc => doc, :title => "Collected",
      :relationship => 'isCollectorOf'
  = render "record/related_objects", :doc => doc, :title => "Manages",
      :relationship => 'isManagerOf'