%div.page-header
  %h1 Metadata Records

%div.row-fluid
  - @concepts_by_type.each do |type, concepts|

    %div.span3

      %h2
        = type_image(type)
        = type.pluralize.titleize

      - concepts.each do |c|
        %p
          - action = c.updated_at - c.created_at < 1 ? 'created' : 'updated'
          %i{:class => action == 'created' ? 'icon-bolt' : 'icon-copy',
             :title => "#{action} @ #{c.updated_at}"}
          %a{:href => concept_path(c.id)}
            = c.title
