- content_for :title, @concept.title
- if desc = description(@doc)
  - set_meta_tags :description => desc
- set_meta_tags :keywords => keywords(@doc)
.div
  .page-header
    .pull-right
      %form{ :action => '/recheck-sru-records', :method => 'POST' }
        %input{ :type => 'hidden', :name => 'id', :value => @concept.id }
        %button.btn{ :type => 'submit' }
          Recheck SRU
    %h1
      %span{ property: 'dc:title'}= @concept.title
      - if @concept.alternate_titles.size > 0
        %small
          aka
          - alt_title_tags = @concept.alternate_titles.map do |t|
            - capture_haml do
              %span{:property => 'dc:title'}
                = t
          = safe_join(alt_title_tags, ", ")

  .container-fluid
    .row-fluid
      .span8
        - case @concept.type
        - when 'collection'
          = render 'record/collection', :concept => @concept, :doc => @doc
        - when 'party'
          - case @concept.subtype
          - when 'person'
            = render 'record/person', :concept => @concept, :doc => @doc
          - when 'group'
            = render 'record/org', :concept => @concept, :doc => @doc
          - else
            = render 'record/other', :concept => @concept, :doc => @doc
        - else
          = render 'record/other', :concept => @concept, :doc => @doc

        %ul.unstyled
          - related_info(@doc).each do |info|
            %li{:typeof => 'v:WebPage'}
              %i.icon-link
              %a{:href => info.identifier, :property => "v:url"}
                %span{:property => "v:title"}= info.title

        - subjects(@doc).each do |subject|
          %span.badge{:property => 'v:keywords', :title => subject.type}
            = subject.name
          &nbsp;

        - if r = rights(@doc)
          %p.rights
            %small
              %i
                - if r.key? 'rightsStatement'
                  %div{:property => 'dc:rights'}= r['rightsStatement']
                - if r.key? 'accessRights'
                  %div{:property => 'dc:accessRights'}= r['accessRights']
                - if r.key? 'licence'
                  - if r.key? 'rightsUri'
                    %div
                      %a{:property => 'dc:license', :href => r['rightsUri']}
                        = r['licence']
                  - else
                    %div{:property => 'dc:license'}= r['licence']

      .span4
        %div.sigma-parent-small
          .sigma-expand{:'data-href' => concept_gexf_path(@concept.id),
                        :'data-delay' => 1000}

.row-fluid
  %hr
  %pre
    %code#rifcs.prettyprint.linenums
      =annotated_xml(@doc)