.div
  .page-header
    .pull-right
      %form{ :action => '/recheck-sru-records', :method => 'POST' }
        %input{ :type => 'hidden', :name => 'id', :value => @concept.id }
        %button.btn{ :type => 'submit' }
          Recheck SRU
    %h1
      %span{ property: 'dc:title'}= @concept.title
      - if @concept.alternate_titles.size > 0
        %small
          aka
          - alt_title_tags = @concept.alternate_titles.map do |t|
            - capture_haml do
              %span{:property => 'dc:title'}
                = t
          = safe_join(alt_title_tags, ", ")

  .container-fluid
    .row-fluid
      .span8
        - case @concept.type
        - when 'party'
          - case @concept.subtype
          - when 'person'
            = render 'record/person'
          - when 'group'
            = render 'record/org'
          - else
            = render 'record/other'
        - else
          = render 'record/other'

      .span4
        %div.sigma-parent-small
          .sigma-expand{:'data-href' => concept_gexf_path(@concept.id), :'data-delay' => 1000}

.row-fluid
  %pre
    %code#rifcs.prettyprint.linenums
      =annotated_xml(@doc)