.page-header
  %h1 Credits

%p.lead
  This website contains images and content generously donated by others for
  public use.

%p
  = link_to 'Font Awesome', 'http://fortawesome.github.com/Font-Awesome'
  designed by Dave Gandy and others.
  %small.muted
    CC-BY

%p
  = link_to 'Gantt Chart',
    'http://thenounproject.com/noun/gantt-chart/#icon-No3702'
  designed by
  = link_to 'Jeremy Boatman', 'http://thenounproject.com/jeremyboatman'
  from The Noun Project.
  %small.muted
    CC-BY

%p
  = link_to 'Data',
    'http://thenounproject.com/noun/data/#icon-No4299'
  and
  = link_to 'Information Technology',
    'http://thenounproject.com/noun/information-technology/#icon-No4197'
  designed by
  = link_to 'United Nations OCHA', 'http://thenounproject.com/ochaavmu'
  from The Noun Project.
  %small.muted
    Public Domain

%p
  = link_to 'People',
    'http://thenounproject.com/noun/people/#icon-No2300'
  designed by
  = link_to 'Roman J. Sokolov', 'http://thenounproject.com/rjsokolov'
  from The Noun Project.
  %small.muted
    CC-BY

